# Problem 2

## Check Summer Olympic 2016 medal tally : https://en.wikipedia.org/wiki/2016_Summer_Olympics_medal_table

a) Import the Wikipedia page in Jupyter Notebook (check M1 DataAcquisition.ipynb for hints about this).

In [2]:
import numpy as np
import pandas as pd

In [3]:
html_data = pd.read_html('https://en.wikipedia.org/wiki/2016_Summer_Olympics_medal_table')

b) How many tables are in this Wikipedia page? Check the “len” of the imported data/page to find this out.

In [4]:
print("HTML tables:", len(html_data))

HTML tables: 6

c) Which one is the actual “2016 Summer Olympics medal table”? Explore all tables in the data to know.

In [6]:
html_data[0].head()

                                                   0
0                                Part of a series on
1  2016 Summer Olympics Bid process (bid details)...

In [7]:
html_data[1].head()

  Rank                  NOC  Gold  Silver  Bronze  Total
0    1  United States (USA)    46      37      38    121
1    2  Great Britain (GBR)    27      23      17     67
2    3          China (CHN)    26      18      26     70
3    4         Russia (RUS)    19      17      20     56
4    5        Germany (GER)    17      10      15     42

d) Extract the main table, “2016 Summer Olympics medal table”, and store it as a new Pandas DataFrame.

In [8]:
medal = pd.DataFrame(html_data[1])

In [9]:
print(medal)

                Rank                         NOC  Gold  Silver  Bronze  Total
0                  1         United States (USA)    46      37      38    121
1                  2         Great Britain (GBR)    27      23      17     67
2                  3                 China (CHN)    26      18      26     70
3                  4                Russia (RUS)    19      17      20     56
4                  5               Germany (GER)    17      10      15     42
..               ...                         ...   ...     ...     ...    ...
82                78               Nigeria (NGR)     0       0       1      1
83                78              Portugal (POR)     0       0       1      1
84                78   Trinidad and Tobago (TTO)     0       0       1      1
85                78  United Arab Emirates (UAE)     0       0       1      1
86  Totals (86 NOCs)            Totals (86 NOCs)   307     307     359    973

[87 rows x 6 columns]

In [ ]:
e) Extract the TOP 20 countries from the medal table, as above, and store these rows as a new DataFrame.

In [11]:
medal20 = pd.DataFrame(medal.iloc[0:20])

In [12]:
print(medal20)

   Rank                  NOC  Gold  Silver  Bronze  Total
0     1  United States (USA)    46      37      38    121
1     2  Great Britain (GBR)    27      23      17     67
2     3          China (CHN)    26      18      26     70
3     4         Russia (RUS)    19      17      20     56
4     5        Germany (GER)    17      10      15     42
5     6          Japan (JPN)    12       8      21     41
6     7         France (FRA)    10      18      14     42
7     8    South Korea (KOR)     9       3       9     21
8     9          Italy (ITA)     8      12       8     28
9    10      Australia (AUS)     8      11      10     29
10   11    Netherlands (NED)     8       7       4     19
11   12        Hungary (HUN)     8       3       4     15
12   13        Brazil (BRA)*     7       6       6     19
13   14          Spain (ESP)     7       4       6     17
14   15          Kenya (KEN)     6       6       1     13
15   16        Jamaica (JAM)     6       3       2     11
16   17        Croatia (CRO)     5       3       2     10
17   18           Cuba (CUB)     5       2       4     11
18   19    New Zealand (NZL)     4       9       5     18
19   20         Canada (CAN)     4       3      15     22